# Ignore node_modules di seluruh folder
**/node_modules

# Ignore build folder dari Next.js
client/.next

# Ignore log files
**/logs
**/*.log

# Ignore Prisma cache and generated folders
**/prisma/migrations

# Ignore OS/IDE-specific files
.DS_Store
.idea/
.vscode/
*.log

# Ignore dist/build artifacts
**/dist
**/build

# Include env files (hati-hati dengan sensitive info)
!.env
